/* teste da pagina principal */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0b0c10;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f2833;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar img {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

.navbar h1 {
  font-size: 1.5em;
  margin: 0;
}

.conteudo {
  padding: 60px 20px;
  text-align: center;
}

.conteudo h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.conteudo p {
  font-size: 1.2em;
  color: #c5c6c7;
}
