html{
    font-family: helvetica;
    background-color: #444;
}
.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border: 3px solid #000;
} 
.bold{
    font-weight: bold;
}

/* header  */
.header{
    text-align: center;
}
.main-title{
    font-size: 40px;
}
.maim-paragraph{
    font-style: italic;
}

/* imagem destaque */
.featured-image{
    text-align: center;
    margin-top: 30px;
}

/* biografia */
.biography-container{
    padding:25px 0;
    margin: 25px 0;
    border-top: 1px dashed #16082f;
    border-bottom: 1px dashed #16082f;
}
/* quotes  */
.quotes-container{
    background-color: #ddd;
    opacity: 0.8;
    padding: 30px;
}
.quotes-container blockquote{
    color: #16082f;
    font-weight: bold;
    font-size: 20px;
}

/* curiosidades */
.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #16082f;
    border-bottom: 1px dashed #16082f;
}
.curiosities-container li{
    height: 30px;
}

/* imagem bold  */
.img-bold{
    font-weight: bold;
    text-align: center;
}

